{% extends "layout.html" %}

{% block title %}
    Favourites
{% endblock %}

{% block main %}
    <form align = "center" class = "form" action = "/favourite" method = "post">
            <input id = "btn" name = "page" type = "number" placeholder = "Enter a page number">
            <button id = "page" name = "search" class="btn btn-outline-danger" type="button">Search</button>
    </form>
    <br>
    {% if offset > pokes|length or offset < 0 %}
        <h2 align = "center" style = "color: lightblue;">
            Page number out of index
        </h2>
    {% else %}
        <div class = "pokes">
        {% for poke in pokes[offset:offset+12] %}
            <div style = "color: {{ color[poke['type'].split()[0] ] }}" class="poke-info">
                <a href = "/pokemon?id={{ poke['id'] }}">
                    <img style="outline-color: {{ color[poke['type'].split()[0]] }};" src={{ poke['url'] }} alt = {{ poke['name'] }}>
                </a>
                <div style="text-align: center;">
                    <br>
                    <h2>
                    <form action="/favourite" method="post">
                        {% if poke['id'] in fav %}
                            <button name = "fav-rm" value = {{ poke['id'] }} style="font-size: 100%;" class="btn btn-dark star-rm">
                                    <i class = "fa fa-star"></i>
                            </button>
                        {% else %}
                            <button name = "fav-add" value = {{ poke['id'] }} style="font-size: 100%;" class="btn btn-dark star-add">
                                    <i class = "fa fa-star-o"></i>
                            </button>
                        {% endif %}
                    </form>
                    #{{ poke['id'] }}<br>
                    {{ poke['name'] }}<br>
                    {{ poke['type'] }}
                    </h2>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
        <form action = "/favourite" method = "post">
            <div class="buttons">
                <button name = "previous" class = "btn btn-outline-warning" value = "">Previous</button>
                <button name = "next" class = "btn btn-outline-warning" value = "">Next</button>
            </div>
        </form>
{% endblock %}