{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group align-items-center">
            <select style = "width: 130px;" class = "custom-select" mr-sm-2 name = "symbol" placeholder="Symbol">
                {% for s in range(symbols | length) %}
                    <option>{{ symbols[s] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name = "shares" autocomplete="on" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button id = "submit" class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}